{% extends "base.html" %}
{% block content %}
 

<form action="/systems" method="POST">
       
    <div>
        <label for="systems">Input System:</label>
        <input type="text" name="system" id="system" required autofocus>
    </div>
    
    <button type="submit">Execute</button>
    
</form>

{% for system in systems %}
<div class="systems">
    <div class="content">
        <p>Name: {{system.name}}</p>
        <a href="/systems/{{system.id}}">Edit</a>
    </div>
</div>
{% endfor %}
{% endblock %}
