{% extends "base.html" %}
{% block content %}
 

<form action="/systems" method="POST">
       
        <label for="systems">Input System:</label>
        <input type="text" name="system" id="system" required autofocus>
    
    <button class="button" type="submit">Execute</button>

</form>

{% for system in systems %}
<div class="content-container" >
    <div class="content">
        <p>{{system.name}}</p>
        <div class="button-container">
            <a class="button" href="/systems/{{system.id}}">Modify</a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
