{% extends "base.html" %}
{% block content %}

<form action="/systems" method="POST">
    <span>    
            <div>
                <label for="systems">Input System:</label>
                <input type="text" name="system" id="system" required autofocus>
            </div>
        <button type="submit">Execute</button>
    </span>
</form>

{% for planet in planets%}
<div class="systems">
    <div class="content">
        <p>Name: {{system.name}}</p>
    </div>
</div>
{% endfor %}
{% endblock %}
