{% extends "base.html" %}
{% block content %}

<form action="/planets" method="POST">
    
    <div>
        <label for="system_id">System:</label>
        <select name="system_id" id="system_id">
            {% for system in systems %}
                <option value="{{system.id}}">{{system.name}}</option>
            {% endfor %}
        </select>      
    </div>

    <div>
        <label for="planets">Input Planet:</label>
        <input type="text" name="planet" id="planets" required autofocus>
    </div>
    
    <div class="button-container">
        <button class="button" type="submit">Execute</button>
    </div>

</form>

{% for planet in planets %}
    <div class="content-container">
        <form action="/planets/{{planet.id}}/delete" method="POST">  
            <div class="content">
                <p>Name: {{planet.name}}</p>
                <p>System: {{planet.system.name}}</p> 
            <div class="button-container">
                <button class="button" type="submit">Terminate</button>
            </div>
            </div>
            
        </form>  
    </div>
{% endfor %}
{% endblock %} 
