/* sidebars */

.main-menu {
    display: flex;
    list-style: none;
    padding-left: 10px;
    /* horizontal spacing */
    justify-content: space-evenly;
    /* vertical spacing */
    align-items: center;
    /* changed directions elements are displayed in from horizontal to vertical */
    /* flex-direction: column; */
}

.main-menu > li {
    padding: 50px;
    font-size: 25px;
    font-family: monospace, Arial, Helvetica, sans-serif;
}

.main-menu a {
    color: #B8B8B8;
}
main {
    border-top: 3px solid #B8B8B8;
    border-left: 3px solid #B8B8B8;
    background-image: url("/static/images/stars-field.png");
    background-position: center;
    background-size: cover;
}

nav {
    border-bottom: 3px solid  #B8B8B8;
    border-left: 3px solid  #B8B8B8; 
}

aside {
    border-top: 3px solid  #B8B8B8;
    border-right: 3px solid  #B8B8B8;
}

.side-menu {
    list-style: none;
    padding:0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side-menu > li {
    padding: 15px;
    font-size: 25px;
    font-family: monospace, Arial, Helvetica, sans-serif;
}

.side-menu a {
    color: #B8B8B8;
}

header {
    display: flex;
    border-bottom: 3px solid #B8B8B8;
    border-right: 3px solid #B8B8B8;
    background-image: url("/static/images/thumb.webp");
    background-position: center;
    background-size: cover;
    
    
}

h1 {
    max-width: 190px;
    font-family: monospace, Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    text-shadow: rgb(0, 0, 0) 1px 0 20px;
}

body {
    background-color: #002266;
    color: #B8B8B8;
    display: grid;
    grid-template-columns: 1fr 7fr;
    height: 100vh;
    margin: 0;
    grid-template-rows: 1fr 5fr;
    
}

body > * {
    padding: 15px; 
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #DBDB2C;
    font-size: 150px;
    text-shadow: rgb(235, 8, 8) 1px 0 20px;
}

.dont-panic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* content */

.content-container {
    border: 3px solid #B8B8B8;
    background-color: rgb(51,202,1, 0.7);
    margin: 20px;
    font-family: monospace, Arial, Helvetica, sans-serif;
} 

.content > p {
   color: rgb(0, 0, 0);
   text-align: center;
   font-size: 30px;
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.button {
    background-color: rgb(243, 0, 0);
    font-weight: bold;
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: black;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    text-decoration: none;
}

a.button {
    color: internal-light-dark(black, white);
    text-decoration: none;
}

/* forms */

.add-to-list {
    border: 3px solid #B8B8B8;
    background-color: rgb(51,202,1, 0.7);
    margin: 20px;
    font-family: monospace, Arial, Helvetica, sans-serif;
    min-width: 75%;
    min-height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly ;
}

.form-item {
    display: flex;
    justify-content: center;
}

