{% extends "base.html" %}
{% block content %}

{% for visit in visits %}
    <div class="content-container">
        <div class="content">    
            <p>Goal: {{visit.goal}}</p>
            <hr>
            <p>System: {{visit.planet.system.name}}</p>  
            <p>Planet: {{visit.planet.name}}</p>
            <p>Achieved? {{visit.achieved}}</p>
            <div class="button-container">
                <a class="button"href="/visits/{{visit.id}}/edit">Edit</a>
            </div>    
        </div>    
    </div>
</div>
{% endfor %}
{% endblock %}